#recommendations

- var sectionTitle = data.recommandation.sectionTitle
include ../section-title/section-title.pug 



.column(span="row")
  each items in data.recommandation.recommandation1
    .recommandation-info 
      .recommandation-image
        img.imagine(src=`${items.avatarUrl}`, alt="avatar")
      .recommandation-name=items.name
      .recommandation-position=items.position
    .recommandation-description
      p=items.description

  each items in data.recommandation.recommandation2
    .recommandation-info 
      .recommandation-image
        img.imagine(src=`${items.avatarUrl}`, alt="avatar")
      .recommandation-name=items.name
      .recommandation-position=items.position
    .recommandation-description
      p=items.description


//- green arrow down
.column(span="row")        
    button.disc-green     
        i.icon__arrow-down 
        span.button-text 
.column(span="row" height="10")
