- var sectionTitle = data['open-sources'].sectionTitle
include ../section-title/section-title.pug

.column(span="row")
  .ab__stat=data['open-sources'].stats.nameTi
  ul.ab__stat-list
    each stat in data['open-sources'].stats.stat
      li.ab__stat-item
        span.ab__stat-icons 
          i(class=`icon__${stat.statIcon}`)
        .ab__statDetalii
          each info in stat.statDetalii 
            p=info
            .column(span="row" height="10")
.column(span="row")
  .ab__proiect=data['open-sources'].proiecte.proiectNume
    each proiect in data['open-sources'].proiecte.proiect
      input(
        type="checkbox"
        id=`proiect__checkbox--${key}`
        ).ab__checkbox
      .ab__proiect-item
        .ab__proiect-nume=proiect.proiectNume
        .ab__skill-list
          each skill in project.proiectName 
            span.ab__skill-item=skill.SkillNume+" "
        .ab__proiect-stat
          each item in proiect.skillGained 
            span (
              class=`coloana-${item.skillNume}`
              style= `width: ${item.percentage}%`
            )
       
.column(span="row")
  button.buton__disc-dolarel
    i.icon__arrow-down
.column(span="row" height="10")
 