.column(span="row").meniu
  input(id="burger" type="checkbox")
  ul.menu__list 
    li.menu__item
      a.menu__link(href="#welcome")="Welcome"
    li.menu__item
      a.menu__link(href="#connect")="Connect"
    li.menu__item
      a.menu__link(href="#skills")="Skills"
    li.menu__item
      a.menu__link(href="#experience")="Experience"
    li.menu__item
      a.menu__link(href="#open-source")="Open source"
    li.menu__item
      a.menu__link(href="#portfolio")="Portfolio"
    li.menu__item
      a.menu__link(href="#recommendations")="Recommendations"
    li.menu__item
      a.menu__link(href="#reviews")="Reviews"
    li.menu__item
      a.menu__link(href="#proud")="I'm proud"
    li.menu__item
      a.menu__close
        label(for="burger")
          .icon__cross
  label(for="burger")
    .icon__menu
