.column(sppan="row")
  input(id="burger" type="checkbox")
  ul.menu__list 
    li.menu__item
      a(href="#welcome")="Welcome"
    li.menu__item
      a(href="#connect")="Connect"
    li.menu__item
      a(href="#skills")="Skill"
    li.menu__item
      a(href="#experience")="Experience"
    li.menu__item
      a(href="#open-source")="Open source"
    li.menu__item
      a(href="#portfolio")="Portfolio"
    li.menu__item
      a(href="#recommendations")="Recommendations"
    li.menu__item
      a(href="#reviews")="Reviews"
    li.menu__item
      a(href="#proud")="I'm proud"
    li.menu__item
      a.menu__close
        label(for="burger")
          .icon__cross
  label(for="burger")
    .icon__menu
