#portfolio
- var sectionTitle = data.portfolio.sectionTitle
include ../section-title/section-title.pug 

.portfolio-content
  .column(span="row")
    .recent-title=data.portfolio.recent.title
    .grid__portfolio
      each recentProject in data.portfolio.recent.recentProjects
        .recent__project
          .recent-projects
            .recent__projects-text
              .recent__project-name=recentProject.projectName
              .recent__project-techs=recentProject.techs
            .recent__projects-image
              img(src=`${recentProject.imagePath}`, alt="").recent__project-image
          .recent-buttons 
            a(href=`${recentProject.linkEarth}` target="_blank")
              i.icon__earth 
            a(href=`${recentProject.linkGithub}` target="_blank")
              i.icon__github

    .old-title=data.portfolio.old.title
    .grid__portfolio
      each oldProject in data.portfolio.old.oldProjects
        .old-projects
          .old__projects-text
            .old__project-name=oldProject.projectName
            .old__project-techs=oldProject.techs
          .old__projects-image
            img(src=`${oldProject.imagePath}`, alt="").old__project-image

.column(span="row")
  a.disc__green(href="/#recommendations")
    i.icon__arrow-down
