- var sectionTitle = data.portfolio.sectionTitle
include ../section-title/section-title

#portfolio
.column(span="row" height="10")
.column(span="row")
  .data__stat=data.portfolio.mainTitle
  .grid__port
    each project in data.portfolio.project1 
      .recent__projects
        .recent__projects-text=project.title
        .recent__projects-skills=project.skills
        .recent__projects-skills=project.link
        img(src=project.image, alt="avatar").project__image
        .buttons
          a(href=project.linkIcon target="_blank")
            i.icon__earth.iconitaa
          a(href=project.linkIcon target="_blank")
            i.icon__github.iconitaa
.column(span="row")
  .data__stat=data.portfolio.project2.title
  .grid__port
    each project in data.portfolio.project2.data
      .old__projects
        .recent__projects-text=project.title
        .recent__projects-skills=project.skills
        .recent__projects-skills=project.link
        img(src=project.image, alt="avatar").project__image
.column(span="row" height="10")
.column(span="row")
  button.button__disc--green
    i.icon__arrow-down
.column(span="row" height="10")
