- var { sectionTitle } = data.experienta
include ../section-title/section-title

.column(span="row" height="10")
.column(span="row")
  ul.lista__experienta
    each serviciu in data.experienta.experienceList
      li.element__experienta
        .logo-firma__experienta
          img(src=`${baseUrl}asset/image/company-logo/${serviciu.imagePath}`)
        .titlu-job__experienta=serviciu.jobRole
        .nume-companie__experienta=serviciu.companyName
        .chevron__experienta
        .content__experienta
          .data__experienta=`${serviciu.firstDate} - ${serviciu.secondDate}`
          each contentExperienta in serviciu.content
            .text__experienta=contentExperienta
.column(span="row" height="10")
.column(span="row")
  button.circle-green
    i.icon__arrow-down
.column(span="row" height="10")