- var { sectionTitle } = data['vraji']
include ../section-title/section-title

.column(span="row")
  h3.welcome-info=data.vraji.legend.titlu
.column(span="row")
  ul.lista__vraji
    each burlan, cheie in data.vraji.legend.listaElemente
      li.item__vraji
        span.icon__vraji(class=`icon__${burlan.icon}`)
        span.label__vraji=burlan.label
        span.numar__vraji=cheie + 1
each vrajaType in data.vraji.vrajiTypeList
  .column(span="row" height="10")
  .column(span="row")
    h3.welcome-info=vrajaType.titlu
  .column(span="row")
    each vraja in vrajaType.vrajiList
      span(
        class=`vraji__vraja--${vraja.type}`
      )=vraja.label

.column(span="row")
  .about-me-box
    p.about-me-box-text=data.vraji.description
.column(span="row" height="10")
.column(span="row")
  button.circle-green
    i.icon__arrow-down
.column(span="row" height="10")
