- var sectionTitle = data.connect.sectionTitle
include ../section-title/section-title 

.column(span="row")
   .connect__gigea 
.column(span="row" height="10")

each social, media__links in data.connect.socialList
    input.connect__radio(
        type="radio"
        name="media__links"
        id=`section__label--${media__links}`
    )
    .column(span="1")
     label(for=`section__label--${media__links}`).connect__disc 
       i(class=`icon__${social.icon}`)

each social, media__links in data.connect.socialList
    .column(span="row" data-description-box=media__links+1)
        .description-box__shadow-arrow
            .description-box__header
                .description-box__title=social.title
                .description-box__close
                    input.connect__radio(
                        type="radio"
                        name="media__links"
                        id=`section__label--reset`
                    )
                    label(for=`section__label--reset`).connect__disc 
                      i(class=`icon__cross`)
            .description-box__body
                p.description-box__paragraph=social.description
            .description-box__footer
               a(
                   href=social.link 
                   target="_blank"
               ).button.button__get-blue  
                i.icon__link 
                span.button-dream=social.label
                


.column(span="row" height="10")
.column(span="row")
     button.button__disc-green 
      i.icon__arrow-down 
.column(span="row" height="10")

