- var sectionTitle = data.experience.sectionTitle
//- pentru a scrie cod JavaScript in pug folosim semnul -, daca dorim sa scriem mai multe linii de cod JavaScript dupa - dam enter si indentam cu un tab
include ../sectiunea-titlu/sectiunea-titlu 

.column(span="row" height="10")
.column(span="row")
  ul.lista__experienta
    each job in data.experience.jobList
      li.experience__item
        .experience__logo
          img(src=`${baseUrl}asset/image/company-logo/${job.iconPath}`)
        .experience__job-title=job.jobTitle
        .experience__company-name=job.companyName
        .experience__chevron asdada
        .experience__body
          .experience__date=`${job.startDate} - ${job.endDate}`
          each moreInfo in job.moreInfoList
            .experience__more-info=moreInfo

.column(span="row" height="10")
.column(span="row")
  .button.buton__disc-verde
    i.icon__arrow-down
.column(span="row" height="10")


