- var sectionTitle = data.experience.sectionTitle 
include ../section-title/section-title.pug

.column(span="row" height="10")
.column(span="row")
  ul.experience__list
    each nume in data.experience.listaJoburi
      li.experience__lista
          .experience__logo
            img(src=`${baseUrl}asset/image/company-logo/${nume.iconWay}`)
          .experience__job-title=nume.numeJob
          .experience__company-name=nume.numeCompanie
          .experience__chevron
          .experience__body
            .experience__date=`${nume.dataStart} - ${nume.dataTerminat}`
            each moreInfo in nume.moreInfoList
              .experience__more-info=moreInfo
.column(span="row" height="10")
.column(span="row")
  button.button__disc--green
    i.icon__arrow-down
.column(span="row" height="10")
 
