.column(span="row")
  .titlu
    .titlu__text=data['welcome-section'].titluText
.column(span="row" height="10")
.column(span="row")
  button.circle__button--red
    i.icon__twitter
.column(span="row" height="10")
.column(span="row")
  h1.nume__tandem=data['welcome-section'].numeTandem
.column(span="row")
  h2.nume__proprietari=data['welcome-section'].numeProprietari
.column(span="row" height="10")
.column(span="row")
  h3.aboutus__titlu=data['welcome-section'].aboutusTitlu
.column(span="row")
  .aboutus__box
    each paragraf in data['welcome-section'].textAboutus
      p.aboutus__box__text=paragraf

.column(span="row" height="10")
.column(span="row")
  button.circle__button--green
    i.icon__arrow-down
.column(span="row" height="10")
