//- pre=JSON.stringify(data['welcome-data'], null, 2)
.column(span="row")
  .section-title-wrapper
    .section-title=data['welcome-data'].sectionTitle
.column(span="row" height="10")
.column(span="row")
  button.circle-red
    i.icon__youtube
.column(span="row" height="10")
.column(span="row")
  h1.name=data['welcome-data'].name
.column(span="row")
  h2.profession=data['welcome-data'].profession
.column(span="row" height="10")
.column(span="row")
  h3.welcome-info=data['welcome-data'].welcomeInfo
.column(span="row")
  .about-me-box
    each boxText in data['welcome-data'].aboutMeBoxTextList
      p.about-me-box-text=boxText
.column(span="row" height="10")
.column(span="row")
  button.btn-download-blue
    i.icon__download
    span.text-for-button=data['welcome-data'].btnDownloadText
.column(span="row" height="10")
.column(span="row")
  button.circle-green
    i.icon__arrow-down
.column(span="row" height="10")
