- var sectionTitle = data.skills.sectionTitle 
include ../section-title/section-title.pug

.column(span="row")
  h3.about-me__more-title=data.skills.legend.title
.column(span="row")
  ul.skills__legend
    each item, key in data.skills.legend.itemList
      li(class=`skills_legend_item`)
        span(class=`icon__${item.icon}`)(class=`skills-icon`)
        span(class=`skills-label`)=item.label
        span(class=`skills-key`)=key+1
.column(span="row" height= "10")
.column(span="row")
each skillType in data.skills.skillTypeList
  .column(span="row")
    h3.about-me__more-title=skillType.type
  .column(span="row")
    each skill in skillType.skillList
      span(
        class= `skills-look--${skill.type}`
      )=skill.label
.column(span="row") 
  .box__with-shadow
    show
     p.description=data.skills.descriere
.column(span="row") 
.column(span="row") 
