- var sectionTitle = data.skills.sectionTitle
include ../section-title/section-title.pug

.column(span="row")
  h3.skills__legend-title=data.skills.sectionSubtitle 

.column(span="row")
  ul.skills__legend-list
    each skill in data.skills.skillsLegendList
      li.skill__legend-item
        .skill__icon
          i(class=`icon__${skill.icon}`) 
        .skill__name=skill.skill  
        .skill__number=skill.numberOfSkills

.column(span="row")
  div.skill__counter salut
  
.column(span="row")
  each category, key in data.skills.categoryList
    h3.skills_category=category.category
    each set in category.skillList
      if set.icon=="heart" 
        each skill in set.skills
          button.skill__heart=skill
      if set.icon=="trophy" 
        each skill in set.skills
          button.skill__trophy=skill
      if set.icon=="bell" 
        each skill in set.skills
          button.skill__bell=skill

.column(span="row")
  div.skill__counter-display Inca una 

.column(span="row")
