- var sectionTitle = data['open-source'].sectionTitle
include ../section-title/section-title.pug 

.column(span="row")
  .os__stats=data['open-source'].stats.statsName
  ul.os__stats-list
    each stat in data['open-source'].stats.stat
      li.os__stats-item
        span.os__stats-icon
          i(class=`icon__${stat.statIcon}`)
        .os__stats-description
          each info in stat.statDescription 
            p=info

.column(span="row")
  .os__projects=data['open-source'].projects.projectName
  .os__projects-list
    each project in data['open-source'].projects.project
      .os__projects-item
        .os__projects-name=project.projectName
        .os__skills-list
          each skill in project.skillsGained 
            span.os__skill-item=skill.skillName+"   "
        .os__projects-stat
          each item in project.skillsGained
            span(class=`coloana-${item.skillName}`) .
