- var sectionTitle = data['open-source'].sectionTitle
include ../section-title/section-title.pug 

.column(span="row")
  .os__stat=data['open-source'].stats.statsName
  ul.os__stat-list
    each stat in data['open-source'].stats.stat
      li.os__stat-item
        span.os__stat-icon
          i(class=`icon__${stat.statIcon}`)
        .os__stat-description
          each info in stat.statDescription 
            p=info

.column(span="row")
  .os__project=data['open-source'].projects.projectName
  .os__project-list
    each project, key in data['open-source'].projects.project
      .os__project-item
        input(
              type="checkbox"
              id=`project__checkbox--${key}`
            ).os__checkbox
        .os__project-name=project.projectName
        .os__skill-list
          each skill in project.skillsGained 
            span.os__skill-item=skill.skillName+"   "
        .os__project-stat
          each item in project.skillsGained
            span(
              class=`coloana-${item.skillName}`
              style=`width: ${item.percentage}%`
            ) .
        label(for=`project__checkbox--${key}`).os__info 
            .icon__info 
        .os__project-body 
          .os__project-description=project.projectInfo


