- var sectionTitle = data["open-source"].sectionTitle
include ../section-title/section-title.pug

.column(span="row" height="10")
.column(span="row")
   h3.open-source__moreTitle= data["open-source"].stat.titluMult
.column(span="row" height="10")
.column(span="row")
  ul.stats__box
    each item in data["open-source"].stat.itemList
       li(class=`stats_list`)
         span(class=`icon__${item.icon}`)(class=`iconite`)
         span 
            each label in item.label
               span(class='casute')=label
.column(span="row" height="10")
.column(span="row")
  h3.open-source__secondTitle= data["open-source"].stat.secondTitle
.column(span="row")
  .git__projects=data['open-source'].projects.projectNume
    each project, key in data['open-source'].projects.project
      input(
        type="checkbox"
        id=`project__checkbox--${key}`
            ).open__check
    .git-projects-list
      each project, key in data['open-source'].project
        .git-projects-name=project.projectName
      .open__skill-list
        each skill in project.skillsGained
          span.open_skill-item=skillsGained.skillName+"   "
      .git-projects-stat
        each item in projects.project.skillsGained
          span(class=`coloana-${item.skillName}` style=`width: ${item.percentage}%`)
      ul.open__project-body 
        li
          .open__project-dots
            each item in project.skillsGained
              .open__dot
                .open__dot-color(style=`background-color: ${item.color}`) 
                .open__dot-name=item.skillName+" "+item.percentage+"%"
        li.open__project-data
          each projectStat in project.projectStats
            .open__project-stats
              .open__project-stat-icon
                i(class=`icon__${projectStat.projectStatIcon}`)
              .open__project-stat-info=projectStat.projectStatInfo
        li.open__project-description=project.projectInfo
        li.open__project-blue-link
          a(
            href=project.projectLink.link
            target="_blank"
          ).open__pill--blue
            i(class=`icon__${project.projectLink.icon}`)
            span.button-text-primary=project.projectLink.description
        .open__buttons
          label(for=`project__checkbox--${key}`).open__info-mandatory 
            i.icon__info
          label(for=`project__checkbox--${key}`).open__info-mandatory 
            i.icon__cross
          each extraIcon in project.projectIcon.extraIcon
            button.open__info-extra
              i(class=`icon__${extraIcon.icon}`)
.column(span="row" height="10")
.column(span="row")
  button.button__disc--green
    i.icon__arrow-down
.column(span="row" height="10")
