- var {sectionTitle}=data['contact']
include ../section-title/section-title

.column(span="row")
  .contact__profile-picture
.column(span="row" height="10")
each iconita, cheie in data.contact.iconsList
  input.contact__radio(
    type="radio"
    name="contact__label"
    id=`contact__label--${cheie}`
  )
  .column(span="1")
    label(for=`contact__label--${cheie}`).contact__icon
      div(class=`icon__${iconita.icon}`)

.column(span="row" height="10")
.column(span="row")
  .about-me-box
    input.contact__radio(
      type="radio"
      name="contact__label"
      id=`contact__label--remove`
    )
    label(for=`contact__label--remove`).contact__icon
      div(class=`icon__cross`)
.column(span="row" height="10")
.column(span="row")
  button.circle-green
    i.icon__arrow-down
.column(span="row" height="10")