- var titluText=data.contact.titluText
include ../titlu/titlu

.column(span="row")
  .contact__image
.column(span="row" height="10")

each cerc, cheita in data.contact.buttonsList
  input.contact__radio(
    type="radio"
    name="varza"
    id=`contact__label--${cheita+1}`
    )
  .column(span="1")
    label(for=`contact__label--${cheita+1}`).contact__button
      div(class=`icon__${cerc.icon}`)

.column(span="row" height="10")
.column(span="row")
  button.circle__button--green
    i.icon__arrow-down
.column(span="row" height="10")

