- var titluText=data.contact.titluText
include ../titlu/titlu

.column(span="row")
  .contact__image
.column(span="row" height="10")



each cerc, cheita in data.contact.buttonsList
  input.contact__radio(
    type="radio"
    name="contact__label"
    id=`contact__label--${cheita+1}`
    )
  .column(span="1")
    label(for=`contact__label--${cheita+1}`).contact__button
      i(class=`icon__${cerc.icon}`)

each cerc, cheita in data.contact.buttonsList
  .column(span="row" data-contact-box=cheita+1)
    .aboutus__box__contact
      .aboutus__box__top
        .aboutus__box__titlu=cerc.header
        .aboutus__box__reset
          input.contact__radio(
            type="radio"
            name="contact__label"
            id=`contact__label--reset`
            )
          label(for=`contact__label--reset`).contact__button
            i(class=`icon__cross`)
      .aboutus__box__content
        p.aboutus__box__text=cerc.buttonContent
      .aboutus__box__end
        a(
          href=cerc.link
          target="_blank"
        ).button__link
          i.icon__link
          span.button_text=cerc.label

.column(span="row" height="10")
.column(span="row")
  button.circle__button--green
    i.icon__arrow-down
.column(span="row" height="10")

