//- pre=JSON.stringify(data["about-me"], null, 2)

- var sectionTitle = data["about-me"].sectionTitle;
include ../section-title/section-title

.column(span="row")
  h1.first-title=data["about-me"].firstTitle
.column(span="row")
  h2.second-title=data["about-me"].secondTitle
.column(span="row" height="10")
.column(span="row")
  h3.description-title=data["about-me"].descriptionTitle
.column(span="row")
  .description-box-shadow 
    each description in data["about-me"].descriptionText
      p.description-text=description
.column(span="row" height="10")
.column(span="row")
  button.download-cv 
    i.icon__download
    span.text-button=data["about-me"].downloadButtonLabel
.column(span="row" height="10")
.column(span="row")
  button.disc-green   
    i.icon__arrow-down
.column(span="row" height="10")
