include ../sectiunea-titlu/sectiunea-titlu 
//- am importat fisierul sectiunea-titlu.pug din folderul _component care contine folderul sectiunea-titlu
.column(span="row")
  h1.despre-mine__titlu-mare=data['about-me'].titluMare
.column(span="row")
  h2.despre-mine__titlu=data['about-me'].titlu
.column(span="row" height="10")
.column(span="row")
  h3.despre-mine__subtitlu=data['about-me'].subtitlu
.column(span="row")
  .description-box__with-shadow
    each descrierejs in data['about-me'].descriptionList
      p.descriere=descrierejs
.column(span="row" height="10")
.column(span="row")
  button.pastiluta-albastra
    i.icon__download
    span.cta-text=data['about-me'].downloadButtonLabel
.column(span="row" height="10")
.column(span="row")
  .button.buton__disc-verde
    i.icon__arrow-down
.column(span="row" height="10")
