- var sectionTitle = data['about-me'].sectionTitle;
include ../section-title/section-title

.column(span="row")
  h1.about-me__name=data['about-me'].name
.column(span="row")
  h2.about-me__position=data['about-me'].position
.column(span="row" height='10px')
.column(span="row")
  h3.about-me__info=data['about-me'].info
.column(span="row")
  .info-box__with-shadow
    each description in data['about-me'].descriptionList
      p.description=description
.column(span="row")
.column(span="row" height='10px')
  .button.button__pill--green
    i.icon__download
    .span.text-button=data['about-me'].downloadButtonLabel
.column(span="row")
.column(span="row" height='10px')
  button.button__disc--purple
    i.icon__arrow-down
.column(span="row" height='10px')


