//-pre=JSON.strinify(data['about-me'],null,2)-\\
- var sectionTitle = data['about-me'].sectionTitle;
include ../section-title/section-title.pug

.column(span="row")
    h1.numele-meu=data['about-me'].mainTitle
.column(span="row")
    h2.pozitia-mea=data['about-me'].subTitle
.column(span="row" height='10')
.column(span="row")
    h3.descrierea-mea=data['about-me'].leadTitle
.column(span="row")
    .description-box__with-shadow 
        each description in data['about-me'].descriptionList
            p.description=description 
.column(span="row")
    button.button__download--albastrel
        i.icon__download
        span.button-text=data['about-me'].downloadButtonlabel
.column(span="row")
    button.buton__disc-dolarel
        i.icon__arrow-down
.column(span="row" height="10")