//- pre=JSON.stringify(data['about-me'], null, 5)
- var sectionTitle = data['about-me'].sectionTitle
include ../section-title/section-title.pug
#about-me

.about-me-content
  .column(span="row")
    h1.creator=data['about-me'].creator
  .column(span="row")
    h2.creator__title=data['about-me'].creatorTitle 
  .column(span="row")
    h3.creator__about-me=data['about-me'].creatorAboutMe 
    .description-box__about-me 
      each lorem in data['about-me'].descriptionList
        Lorem.description=lorem 
        br

  .column(span="row")
    .pill__blue-primary
      i.icon__download
      a(href="asset/image/raluca.jpg" download)=data['about-me'].downloadButtonLabel
      //- span.button__text-primary

  .column(span="row")
    .pill__blue-secondary
      i.icon__info 
      a(href="asset/image/raluca.jpg" target="_blank")=data['about-me'].viewButtonLabel
      //- span.button__text-secondary=data['about-me'].viewButtonLabel

.column(span="row")
  a.disc__green(href="/#connect")
    i.icon__arrow-down
